html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    min-width:300px; /*to prevent text wrapping*/
    min-height: 400px; /*prevent buttons from overlapping text*/
}

body {
    background-attachment: fixed;
    background-clip: content-box;
    background-image: url(../images/background-xs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0; /*remove bootstrap top padding*/
}

h1, h2 {
    color: black;
}

#page-title {
    top: 5%;
}

    #page-title * {
        text-align: Center;
        margin: 0;
        padding: 0;
    }

    #page-title h1 {
        font-size: 34px;
    }

    #page-title h2 {
        font-size: 20px;
    }

    #page-title address {
        margin: 10px 0;
        padding: 4px;
        background: rgb(255, 255, 255); /*fallback*/
        background: rgba(255, 255, 255, 0.75);
        font-size: 30px;
    }

#contact-buttons {
    bottom: 5%;
    padding:0 5px;
}

    #contact-buttons a {
        margin: 5px auto;
        max-width: 350px;
    }

.center-absolute {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 -15px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-image: url(../images/background-sm.jpg);
        background-size: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-image: url(../images/background-md.jpg);
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-image: url(../images/background-lg.jpg);
    }
}

/*IE 10*/
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
